{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Session list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Belongtoevent</th>
                <th>Datestarted</th>
                <th>Dateended</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('session_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.belongToEvent }}</td>
                <td>{% if entity.dateStarted %}{{ entity.dateStarted|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.dateEnded %}{{ entity.dateEnded|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.status }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('session_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('session_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('session_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
